<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ffe44abe-b3f1-44c3-a651-14a7d7228592" Alias="Banner color" Level="1">
  <Info>
    <Name>Banner color</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Bl\u00E5",
    "Lysebl\u00E5",
    "Gr\u00F8nn",
    "Gul",
    "R\u00F8d"
  ],
  "multiple": false
}]]></Config>
</DataType>