<?xml version="1.0" encoding="utf-8"?>
<DataType Key="022841b2-41b0-41bf-a74f-f318ec3eb390" Alias="Starte og drive - Forside - Fremhevede tema - Content Picker" Level="1">
  <Info>
    <Name>Starte og drive - Forside - Fremhevede tema - Content Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "76a1be25-ff7c-48d1-8b77-be2415ab9744,49108713-618e-4c5f-826b-a9dfbe92f0ca,de044169-a8ca-474b-869b-65de088321e6",
  "maxNumber": 30,
  "minNumber": 0
}]]></Config>
</DataType>