.provider {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

.provider-page__content {
  max-width: 730px;
}

.provider-page-heading {
  display: flex;
  align-items: center;
  column-gap: 0.5em;
}
