<?xml version="1.0" encoding="utf-8"?>
<DataType Key="475fe1d6-705d-4b8b-9d4b-554cca534ae5" Alias="Starte og drive - Artikkel - Blokkliste - Block List" Level="1">
  <Info>
    <Name>Starte og drive - Artikkel - Blokkliste - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b628e2a3-7ef7-4f77-b97a-9121f6807a88",
      "label": "Lenkeblokk"
    }
  ]
}]]></Config>
</DataType>