<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a7ee6523-d4ef-42ca-8fc2-25227ebdfb07" Alias="Tabellblokk-plukker" Level="1">
  <Info>
    <Name>Tabellblokk-plukker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "6cf9203e-fdee-48de-9657-da2ee1512898",
  "maxNumber": 1,
  "minNumber": 0,
  "startNode": {
    "type": "content",
    "id": "84db27a9-cdee-4521-8872-b9967ada4c69",
    "dynamicRoot": {
      "originKey": "84db27a9-cdee-4521-8872-b9967ada4c69",
      "originAlias": "ByKey"
    }
  }
}]]></Config>
</DataType>