<?xml version="1.0" encoding="utf-8"?>
<DataType Key="19102e9c-c395-498c-9f2b-495d74101234" Alias="URL-plukker" Level="1">
  <Info>
    <Name>URL-plukker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "37ff0190-0c59-42a8-a955-f63d7066c41a",
  "maxNumber": 1,
  "minNumber": 0,
  "startNode": {
    "type": "content",
    "id": "84db27a9-cdee-4521-8872-b9967ada4c69",
    "dynamicRoot": {
      "originKey": "84db27a9-cdee-4521-8872-b9967ada4c69",
      "originAlias": "ByKey"
    }
  }
}]]></Config>
</DataType>