<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7ee13de3-166d-47e5-a73f-edc2cec6510d" Alias="URL picker" Level="1">
  <Info>
    <Name>URL picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "37ff0190-0c59-42a8-a955-f63d7066c41a",
  "maxNumber": 1,
  "minNumber": 0
}]]></Config>
</DataType>