---
import SiteLayout from "../Components/Layout/SiteLayout/SiteLayout";
import ApplicationInsightsFilterJS from "../bundles/ApplicationInsightsFilterJS.astro";

const { pageData, htmlLanguage, title, canonicalUrl, metaNoIndex, metaDescription, metaKeywords, seoScript, enableAppInsightsFiltering } = Astro.props;
---
<!doctype html>
<html class="ap-profile" lang={htmlLanguage || "nb"}>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title || "Altinn"}</title>
    {canonicalUrl && <link rel="canonical" href={canonicalUrl} />}
    {metaNoIndex && <meta name="robots" content="noindex" />}
    {metaDescription && <meta name="description" content={metaDescription} />}
    {metaKeywords && <meta name="keywords" content={metaKeywords} />}
    <link rel="icon" type="image/x-icon" href="/assets/favicon/favicon.ico" />
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon-180x180.png" />
    <link rel="manifest" href="/assets/favicon/manifest.json" crossorigin="use-credentials" />
    <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" />
    <meta name="apple-mobile-web-app-title" content="Altinn" />
    <meta name="application-name" content="Altinn" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="msapplication-TileImage" content="/assets/favicon/mstile-144x144.png" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="stylesheet" href="https://altinncdn.no/fonts/inter/v4.1/inter.css" crossorigin="anonymous">
    {seoScript && <Fragment set:html={seoScript} />}
    {enableAppInsightsFiltering && <ApplicationInsightsFilterJS/>}
</head>
<body>
    <SiteLayout client:load {...pageData} />
</body>
</html>