<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2ac8869a-4ede-4e08-a98f-4ffb60a1765f" Alias="phoneContactBlockElement" Level="2">
  <Info>
    <Name>Kontaktblokk (telefon)</Name>
    <Icon>icon-plugin</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blokktyper</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>11dbf7a3-f204-4616-a1af-bf1e00cb58b4</Key>
      <Name>Kontakttelefon (blokk)</Name>
      <Alias>phoneContactBlockPicker</Alias>
      <Definition>e68bd76d-b61c-44ed-8dca-e562d1ade020</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab></Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs />
</ContentType>