<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a92db0f3-e77a-4fd2-9db0-81f68ad2a442" Alias="Innholdsblokk-plukker" Level="1">
  <Info>
    <Name>Innholdsblokk-plukker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "5a3b4404-0fcc-42a0-b328-ebd32bc194f8",
  "maxNumber": 1,
  "minNumber": 0,
  "startNode": {
    "type": "content",
    "id": "84db27a9-cdee-4521-8872-b9967ada4c69",
    "dynamicRoot": {
      "originKey": "84db27a9-cdee-4521-8872-b9967ada4c69",
      "originAlias": "ByKey"
    }
  }
}]]></Config>
</DataType>