.schema-overview {
  &__search {
    width: 100%;
    max-width: 700px;
    margin: 0 auto 1.5rem;
  }

  &__recommended {
    row-gap: 0;
  }

  &__grid {
    margin-bottom: 2rem;
  }

  &__link {
    display: block;
    padding: 1rem 0;
    color: inherit;
    text-decoration: none;

    &:hover h2 {
      text-decoration: underline;
    }
  }

  &__providers {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    padding-left: 0.5em;
    padding-bottom: 1em;
  }

  &__provider-icon {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
  }

  &__provider-letter.schema-overview__provider-letter {
    margin-bottom: var(--ds-size-1);
  }

  &__tab {
    gap: 0.5rem;
    padding: var(--ds-size-3) var(--ds-size-4);
    width: 100%;
    font-size: var(--ds-font-size-3);
    @media (min-width: 768px) {
      width: auto;
      font-size: var(--ds-font-size-body);
      padding: var(--ds-size-4) var(--ds-size-5);
    }
  }

  &__category-item {
    --dsc-item-height: 3.5em;
  }

  &__category-label.schema-overview__category-label {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25;
  }

  .ds-tabs [role="tabpanel"],
  .ds-tabs u-tabpanel {
    padding: var(--ds-size-4) 0 var(--ds-size-4) 0;
  }

  &__provider-item.schema-overview__provider-item {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25;
  }
}
